workflow.json
{
  "name": "Sales Pipeline Insights Automation",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        -192
      ],
      "id": "5a5bcbd5-04f9-477e-800e-a6f4c9290e0f",
      "name": "CRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\n\nreturn items.filter(item => {\n  const dateStr = item.json.date_history;\n\n  if (!dateStr) return false;\n\n  const [day, month, year] = dateStr.split('-').map(Number);\n  const rowDate = new Date(year, month - 1, day);\n\n  return rowDate >= sevenDaysAgo && rowDate <= today;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -192
      ],
      "id": "0496d7f9-d941-42b1-94f7-04acd9fdadde",
      "name": "Weekly Report data"
    },
    {
      "parameters": {
        "jsCode": "let totalOpportunities = items.length;\nlet wonDeals = 0;\nlet lostDeals = 0;\nlet totalRevenue = 0;\n\nlet agentPerformance = {};\n\nfor (const item of items) {\n  const stage = item.json.deal_stage;\n  const value = Number(item.json.close_value) || 0;\n  const agent = item.json.sales_agent;\n\n  if (stage === \"Won\") {\n    wonDeals++;\n    totalRevenue += value;\n\n    if (!agentPerformance[agent]) {\n      agentPerformance[agent] = 0;\n    }\n\n    agentPerformance[agent]++;\n  }\n\n  if (stage === \"Lost\") {\n    lostDeals++;\n  }\n}\n\nconst topAgents = Object.entries(agentPerformance)\n  .map(([agent, wins]) => ({\n    agent,\n    wins\n  }))\n  .sort((a, b) => b.wins - a.wins)\n  .slice(0, 3);\n\nreturn [\n  {\n    json: {\n      totalOpportunities,\n      wonDeals,\n      lostDeals,\n      totalRevenue,\n      topAgents\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -192
      ],
      "id": "fe4edea2-2913-4243-8a2d-f34212a90b36",
      "name": "Calculate KPI's"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -656,
        32
      ],
      "id": "da0ebd64-e2f0-49c3-bc0b-f3ab96267035",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sales metrics for the previous 7 days:\n\n• Opportunities Reviewed: {{ $json.totalOpportunities }}\n• Deals Won: {{ $json.wonDeals }}\n• Deals Lost: {{ $json.lostDeals }}\n• Revenue Generated: ${{ $json.totalRevenue }}\n\nTop 3 sales agents:{{ JSON.stringify($json.topAgents) }}\n\nPrepare the weekly Slack update.",
        "options": {
          "systemMessage": "You are an experienced Sales Operations Analyst preparing weekly updates for managers on Slack.\n\nAnalyze the provided sales metrics and write a concise, professional report.\n\nStart with a short executive summary (1-2 sentences) explaining what happened during the past week in natural language. Make it sound human and conversational, not robotic.\n\nThen structure the report exactly like this:\n\n📈 Weekly Sales Update\n\n[Short summary paragraph]\n\n━━━━━━━━━━━━━━\n\n📊 Pipeline Activity\n• Opportunities Reviewed: X\n• Deals Won: X\n• Deals Lost: X\n• Revenue Generated: X\n\n━━━━━━━━━━━━━━\n\n🏆 Top Performers\n🥇 Agent Name — Number of wins\n🥈 Agent Name — Number of wins\n🥉 Agent Name — Number of wins\n\n━━━━━━━━━━━━━━\n\n💡 Key Insights\n• Provide 2-3 meaningful observations based on the data.\n• Mention trends, performance, or anything noteworthy.\n\nEnd with:\n\n\"Have a great week ahead! 🎯\"\n\nKeep the tone professional, friendly, and easy for managers to read.\n\nDo not invent numbers. Use only the data provided."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        -192
      ],
      "id": "9bcff304-6dee-4bf4-9c2a-ae0ddb452345",
      "name": "Sales Insight Agent"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -192
      ],
      "id": "b5431b47-5de2-4259-a65d-398b33053666",
      "name": "7 day's once Trigger"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        -224,
        -192
      ],
      "id": "63f87acf-dcb3-49ae-95f8-e1d4c8ae9510",
      "name": "End Report",
      "webhookId": "f3321510-7400-411b-bf6d-509311dd7ba5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "CRM": {
      "main": [
        [
          {
            "node": "Weekly Report data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report data": {
      "main": [
        [
          {
            "node": "Calculate KPI's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate KPI's": {
      "main": [
        [
          {
            "node": "Sales Insight Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sales Insight Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sales Insight Agent": {
      "main": [
        [
          {
            "node": "End Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 day's once Trigger": {
      "main": [
        [
          {
            "node": "CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "286bf3c2-cd8e-4516-8031-f7e08aca0f36",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "sales-insights-automation"
  },
  "nodeGroups": [],
  "id": "sales-insights-automation",
  "tags": ["automation", "sales", "n8n", "openai", "slack"]
}